[submodule "nft-market-homework/lib/forge-std"]
	path = nft-market-homework/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-market-homework/lib/openzeppelin-contracts"]
	path = nft-market-homework/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
